// colors
$accentColor = #79A1D4
$textColor = #454545
$borderColor = #eaecef
$codeBgColor = #FFEED5
$arrowBgColor = #79A1D4
$badgeTipColor = #42b983
$badgeWarningColor = darken(#ffe564, 35%)
$badgeErrorColor = #DA5961
$navbarBgColor = #79A1D4

// layout
$navbarHeight = 5rem
$sidebarWidth = 20rem
$contentWidth = 740px
$homePageWidth = 960px

// responsive breakpoints
$MQNarrow = 959px
$MQMobile = 719px
$MQMobileNarrow = 419px